
body {
    background-color: #1F2937;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: #1F2937;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    font-weight: bold;
}

li {
    list-style: none; 
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin: 20px;
}

ul {
    display: flex;
}

h1.hero {
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
    margin: 20px;
}

p.hero {
    font-size: 18px;
    color: #e5e7eb;
    margin: 20px;
}

button.hero {
    color: white;
    background-color: #3882f6;
    display: inline;
    width: 200px;
    align-self: flex-start;
    padding: 15px;
    margin-left: 20px;
    border-radius: 15px;
}

div.hero {
    display: flex;
    align-items: center;
    margin: 10px;
}

.hero-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

img.hero {
    flex: 1;
    height: auto;
    margin: 20px;
    max-width: 500px;
}