
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

.header,
.hero {
    background-color: #1F2937;
}

.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    font-size: 24px;
    color: #f9faf8;
    display: flex;
    font-weight: bold;
}

li {
    list-style: none; 
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    margin: 20px;
}

ul {
    display: flex;
}

h1.hero {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 800;
    margin: 20px;
}

p.hero {
    font-size: 18px;
    color: #e5e7eb;
    margin: 20px;
}

button.hero {
    color: white;
    background-color: #3882f6;
    display: inline;
    width: 150px;
    align-self: flex-start;
    padding: 15px;
    margin-left: 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

div.hero {
    display: flex;
    align-items: center;
}

.hero-overlay {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

img.hero {
    flex: 1;
    height: auto;
    margin: 20px;
    max-width: 500px;
}

.information {
    background-color: white;
    margin-top: 40px;
}

h2 {
    color: #1F2937;
    font-size: 36px;
    font-weight: extra-bold;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.card {
    flex-basis: 20%; 
    text-align: center; 
    margin: 10px;
    box-sizing: border-box;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.card p {
    word-wrap: break-word;
    font-size: 18px;
    color: darkgray
}

.fourth {
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.quote {
    font-size: 36px;
    color: #1F2937;
    margin: 80px;
    
}

.actual {
    font-style: italic;
    font-weight: lighter;
}
.signature {
   font-size: 24px;
   font-weight: bold;
   text-align: right;
}

.fifth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.action {
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    color: white;
    padding: 40px;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    width: 80%;  
    margin: 80px;
}

.signup {
    padding: 10px;
    color: #ffffff;
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 5px;
    cursor: pointer;
    width: 20%;
    height: 20%;
    align-self: center;
    margin-right: 40px;
}

.bold-text {
    font-weight: bold;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: #e5e7eb;
}
